@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Urbanist:wght@800&display=swap');



html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Urbanist', sans-serif;
}

input[type="text"],input[type="password"], input[type="email"], input[type="number"],
input[type="tel"],
textarea {
    @apply border-2 border-teal-500 rounded-md px-2 py-1 w-full text-base focus:border-teal-500;
    @apply mb-2
}

textarea{
    height:100px;
}


label{
    @apply text-teal-500;
}

.btn-primary{
    @apply bg-teal-500 text-white py-2 px-6 rounded-xl text-sm mt-4;
}

table.basic {
    @apply w-full mt-6;
}

table.basic thead tr td {
    @apply bg-teal-500 text-white text-center;
}

table.basic tr td {
    @apply border-2 p-2 border-teal-600  text-sm text-slate-600 text-center ;
}

table.basic a {
    @apply bg-teal-500 py-1 px-4 rounded-lg text-white  text-sm inline-flex gap-1 items-center mr-2;
}

.btn-red{
    @apply bg-red-700 py-2 px-4 text-sm text-white rounded-xl 
}
.btn-default{
    @apply bg-teal-500 py-2 px-4 text-sm text-white rounded-xl 
}




